$white: #fff;
$white-low-opacity: rgba(255, 255, 255, 0.8);
$white-high-opacity: rgba(255, 255, 255, 0.1);
html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: #03a9f4;
  .section_loader {
    padding: 50px;
  }
}
.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
}
/**
  Spin Loader
**/
.loader-cercle {
  border: 6px solid rgba(156, 39, 176, 0.5);
  border-radius: 50%;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 6px solid rgba(156, 39, 176, 0.5);
    border-radius: 50%;
    border-top-color: rgba(156, 39, 176, 0);
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
  BOUNCE
**/

.loader-bounce {
  background-color: $white-low-opacity;
  border-radius: 50%;
  animation: bounce 1.5s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    transform: scale(0, 0);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}

/**
  DOUBLE BOUNCE
**/
.loader-double-bounce {
  position: relative;
  &-1,
  &-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $white-low-opacity;
    border-radius: 50%;
    animation: bounce 2s infinite ease-in-out;
  }
  &-2 {
    animation-delay: -1s;
  }
}

.loader-triangle {
  border: 20px solid $white-low-opacity;
  width: 0;
  height: 0;
  border-right-color: transparent;
  border-left-color: transparent;
  animation: sablier-temps 2s linear infinite;
}
@keyframes sablier-temps {
  0% {
    border-top-color: $white-low-opacity;
    border-bottom-color: $white-high-opacity;
  }
  100% {
    border-top-color: $white-high-opacity;
    border-bottom-color: $white-low-opacity;
  }
}

/**
 HEART BEATING
 **/
.loader-heart-beat {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: $white;
  transform: rotate(45deg) scale(0.5);
  animation: heart-beating 2s linear infinite;
  &:before,
  &:after {
    background-color: $white;
    position: absolute;
    top: -17px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 50%;
  }
  &:after {
    top: 0px;
    left: -17px;
  }
}
@keyframes heart-beating {
  0% {
    transform: rotate(45deg) scale(1);
  }
  5% {
    transform: rotate(45deg) scale(1.1);
  }
  40% {
    transform: rotate(45deg) scale(0.8);
  }
  60% {
    transform: rotate(45deg) scale(0.95);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

/*
* LOADER BAR
*/
.loader-bar {
  span {
    display: inline-block;
    width: 8px;
    height: 30px;
    background-color: $white;
    animation: grow-bar 1s linear -0.66s infinite;
    &:first-child {
      animation-delay: -0.33s;
    }
    &:last-child {
      animation-delay: -1s;
    }
  }
}

@keyframes grow-bar {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
/*
* LOADER CIRCLE
*/
.loader-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $white;
}
